#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

  .divider{
    width:20px;
    height:auto;
    display:inline-block;
  }

  .ballot-box, .ballot-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    background-color: #223a78;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    width: 80%;
    font-size: 18px;
  }

  .ballot-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .ballot-logo {
    width: 160px;
    height: auto;
  }
  
  .ballot-title {
    font-size: 32px;
    margin: 0;
    text-align: center;
    flex-grow: 1;
  }

  .ballot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    position: relative;
    gap: 20px;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .more-info-button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all .5s ease;
  }
  
  .more-info-button:hover {
    outline: 2px solid white; 
    color: white; 
  }

  .button-container {
    display: flex;
    align-items: center;
  }

  .info-button {
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #223a78;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
  }
